:root {
  --celeste: #4e75ba;
  --rojo: #e65542;
  --blanco: #e9e9e9;
  --gris: #5a5a5a;
  --grisoscuro: #423838;
  --negro: #000000;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  box-sizing: border-box;
}

body {
  background: linear-gradient(70deg, var(--celeste), var(--rojo));
  padding: 4% 10%;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 2.4rem;
  color: var(--blanco);
  font-weight: 600;
  padding: 1rem 0 3rem;
}
h2 {
  color: var(--gris);
  font-size: 1.4rem;
  font-weight: 600;
}
h3 {
  color: var(--gris);
  font-size: 1.4rem;
  font-weight: 600;
}

p {
  color: var(--gris);
  font-size: 0.8rem;
}
.contenido {
  background-color: var(--blanco);
  padding: 4%;
  border-radius: 1em;
}

.contenido > h2 {
  padding-bottom: 3%;
}
.contenido > h3 {
  padding-bottom: 2%;
}
form {
  font-size: 1rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}
input{
  color: var(--gris);
}
input, button {
  background-color:var(--blanco);
  padding: 0.8rem;
  border-radius: 0.3em;
  font-size: 1rem;
}
label {
  color: var(--gris);
  font-weight: 600;
  margin-top: 2%;
}

button[type="submit"] {
  background-color: var(--celeste);
  color: var(--blanco);
  font-weight: 600;
  margin-top: 4%;
  cursor: pointer;
}

button {
  background-color: var(--grisoscuro);
  color: var(--blanco);
  cursor: pointer;
}

#pedirvan{
  margin: 3% 0 0 0;
}

button:hover, input[type="submit"]:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

input:focus {
  transition: border 0.3s ease-in-out;
  outline: 2px solid var(--gris);
  outline-offset: 2px;
}
/* Input validos */
input:valid {
  background-color: var(--blanco) !important;
  border-color: var(--celeste);
  outline: 2px solid var(--celeste);
  color: var(--gris);
}
input:invalid {
  background-color: rgba(245, 184, 176, 0.2); /* Rojo claro */
  border-color: var(--rojo);
}

img{
  width: 100%;
  padding: 4% 0 4% 0;
  margin: auto;
  display: block;
}

@media screen and (max-width: 700px) {
  .desktop-only {
      display: none;
  }

  h1{
      font-size: 2rem;
  }

  .contenido {
      padding: 10%;
  }

  .contenido > h2 {
      font-size: 1.2rem;
      padding: 4% 0 6%;
  }
  .contenido > h3 {
    font-size: 1.2rem;
    padding: 4% 0 6%;
}


  form {
      font-size: 1rem;
      gap: 0.5rem;
  }

  input {
      padding: 2%;
  }

  button {
      margin-top: 3%;
  }

  img{
    width: 100%;
    padding: 10% 0 4% 0;
  }

}
